{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div>
  {% for user in UsersData %}
  {{user.login}}<br />
  {{user.email}}<br />
  {{user.password}}<br />
  {{user.salt}}
  {% endfor %}
</div>
<a class="button is-block is-info is-large is-fullwidth"  href="{{ url_for('main.notes') }}">
  See your notes
</a>
<a class="button is-block is-info is-large is-fullwidth"  href="{{ url_for('main.addNote') }}">
  Add new note
</a>
<a class="button is-block is-info is-large is-fullwidth" href="{{ url_for('auth.passwordResetPassword') }}">
  Reset Password
</a>
{% endblock %}